<div class="oneMusic-pagination-area wow fadeInUp" data-wow-delay="100ms">
    <% if (total > 0) { %>
        <nav>
            <ul class="pagination">
                <li class="page-item <%- curr === 1 ? "disabled" : "" %>">
                    <a class="page-link" href="<%= pathPrefix + (curr === 1 ? "1" : (parseInt(curr) - 1)) %>">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>

                <% for (i = 1; i <= total; i++) { %>
                    <% if (curr === i) { %>
                        <li class="page-item active"><a class="page-link" href="<%= pathPrefix + i %>"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="<%= pathPrefix + i %>"><%= i %></a></li>
                    <% } %>
                <% } %>

                <li class="page-item <%- curr === total ? "disabled" : "" %>">
                    <a class="page-link" href="<%= pathPrefix + (curr === total ? total : (parseInt(curr) + 1)) %>">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    <% } %>
</div>
