<!DOCTYPE html>
<html>
<head>
    <% include ./app/head.ejs %>
</head>
<body>
<!-- ##### Header Area Start ##### -->
<% include ./app/header.ejs %>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background: #000; max-height: 105px">

</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Album Area Start ##### -->
<div class="album-catagory padding-y-20 padding-y-md-50">
    <div class="container">

        <div class="row">

            <div class="col-12 col-md-4">
                <div class="text-center">
                    <img src="<%= `/album/thumbnail/${album.thumbnail}` %>"  width="100%" alt="">
                    <div class="mt-4">
                        <span class="font-size-20">Full Album: </span><span class="font-size-30 font-weight-bold">$<%=totalPrice%></span>
                    </div>
                    <a href="#" class="btn oneMusic-btn m-2"><i class="icon-shopping-cart pr-3"></i>Add To Cart</a>
                </div>
            </div>

            <div class="col-12 col-md-8">

                <h1 class="mb-0"><%= album.title %></h1>
                <p class="font-size-16 mb-0">By <%= album.artist %></p>
                <p class="font-size-16 text-secondary"><%= album.getReleaseDateYear() %> • <%=album.tracks.length%> Tracks </p>
                <table class="table table-cs mt-3 mb-0" width="100%">
                    <thead>
                    <tr style="height: 1px">
                        <th style="width: 5%;"></th>
                        <th style="width: 60%;">Name</th>
                        <th style="width: 20%;">Artist</th>
                        <th style="width: 5%;">Time</th>
                        <th style="width: 5%;">Price</th>
                        <th style="width: 5%;"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <% for(item of album.tracks) { %>
                        <tr>
                            <td><i class="icon-music"></i></td>
                            <td><%= item.title %></td>
                            <td><%= item.artist %></td>
                            <td><%= moment.utc(item.length * 1000).format(item.length > 3600 ? 'hh:mm:ss' : 'mm:ss') %></td>
                            <td>$<%=item.price%></td>
                            <td class="text-right">
                                <button class="btn btn-dark btn-xs">Add</button>
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
<!-- ##### Album Area End ##### -->

<% include ./app/footer.ejs %>
</body>
</html>
