<!DOCTYPE html>
<html>
<head>
    <% include ./app/head.ejs %>
</head>
<body>
<!-- ##### Header Area Start ##### -->
<% include ./app/header.ejs %>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg); max-height: 200px">
    <div class="bradcumbContent">
        <p>Find you favourite album</p>
        <h2>Albums</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Album Area Start ##### -->
<div class="album-catagory padding-y-20 padding-y-md-50">
    <div class="container">
        <div class="row">
            <!--<div class="col-12 col-lg-3">-->
            <!--<div class="">-->


            <!--</div>-->
            <!--</div>-->

            <div class="col-12">

                <section class="album-catagory">
                    <div class="container">
                        <div class="row">

                            <% for(item of albums) { %>
                                <div class="col-6 col-md-3">
                                    <a href="/album/<%= item.id %>" class="single-album-area">
                                        <div class="album-thumb">
                                            <img src="<%= `/album/thumbnail/${item.thumbnail}` %>" alt="">
                                            <div class="album-price">
                                                <p><%=item.label%></p>
                                            </div>
                                        </div>
                                        <div class="album-info">
                                            <h5><%= item.title %></h5>
                                            <p><%= item.artist %></p>
                                        </div>
                                    </a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </section>

                <!-- Pagination -->
                <% include ./app/pagination.ejs %>
            </div>

        </div>
    </div>
</div>
<!-- ##### Album Area End ##### -->
<% include ./app/footer.ejs %>
</body>
</html>
