<!DOCTYPE html>
<html>

<head>
    <% include ./app/head.ejs %>
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <% include ./app/header.ejs %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay"
        style="background-image: url(/img/bg-img/breadcumb3.jpg); max-height: 200px">
        <div class="bradcumbContent">
            <p>View you purchased item</p>
            <h2>Profile</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Album Area Start ##### -->
    <div class="album-catagory padding-y-20 padding-y-md-50">


        <div class="container">
            <div class="row">


                <ul class="col-12 nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/collection">Your Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/purchase">Purchase History</a>
                    </li>
                </ul>

                <div class="col-12 display-container">

                    <% if (tab === 'COLLECTION') { %>
                    <section class="album-catagory">
                        <div class="container">
                            <div class="row">

                                <% for(var key in collection) { %>
                                <div class="col-6 col-md-3">
                                    <a href="<%= `/album/${collection[key].id}` %>" class="single-album-area">
                                        <div class="album-thumb">
                                            <img src="<%= `/album/thumbnail/${collection[key].thumbnail}` %>"
                                                alt="">
                                            <div class="album-price">
                                                <p>$<%= collection[key].total %></p>
                                            </div>
                                        </div>
                                        <div class="album-info">
                                            <h5><%= collection[key].title %></h5>
                                            <p><%= collection[key].artist %></p>
                                        </div>
                                    </a>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </section>
                    <% } else { %>
                    <script>
                        window.onload = () => {
                            axios.get('/order/purchased').then((res) => {
                                let result = res.data;

                                for (let key1 in result) {
                                    let order = result[key1];
                                    let albumSum = 0;
                                    let trackSum = 0;
                                    let totalSum = 0;
                                    for (let key2 in order.order_item) {
                                        let orderItem = order.order_item[key2];
                                        for (let key3 in orderItem.albums) {
                                            let album = orderItem.albums[key3];

                                            albumSum += 1;
                                            for (let key4 in album.tracks) {
                                                let track = album.tracks[key4];

                                                trackSum += 1;
                                                totalSum += track.price;
                                            }
                                        }
                                    }

                                    let orderRow = $(`
                                    <div class="col-12 mb-3">
                                        <div class="new-hits-area padding-30">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6>Order ID: ${order.id} </h6>
                                                <p class="mb-0"> ${moment(order.created).format('LLL')} </p>
                                            </div>
                                            <p class="mb-0">Purchased ${trackSum} tracks from ${albumSum} album</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="font-weight-bold mb-0">Total: $${totalSum}</p>
                                                <button type="button" class="btn btn-dark btn-xs" data-toggle="collapse"
                                                    data-target="#order-${order.id}">View Detail</button>
                                            </div>

                                            <div id="order-${order.id}" class="collapse">
                                                <table class="table table-cs mt-3 mb-0" width="100%">
                                                    <thead>
                                                        <tr style="height: 1px">
                                                            <th class="hidden" style="width: 5%;"></th>
                                                            <th class="hidden" style="width: 30%;">Album</th>
                                                            <th class="hidden" style="width: 40%;">Track</th>
                                                            <th class="hidden" style="width: 10%;">Artist</th>
                                                            <th class="hidden" style="width: 5%;">Time</th>
                                                            <th class="hidden" style="width: 5%;">Price</th>
                                                            <th class="hidden" style="width: 5%;">Refund</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="order_item-table">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    `)
                                    let index = 0;
                                    for (let key2 in order.order_item) {
                                        let orderItem = order.order_item[key2];
                                        for (let key3 in orderItem.albums) {
                                            let album = orderItem.albums[key3];
                                            for (let key4 in album.tracks) {
                                                let track = album.tracks[key4];
                                                let orderItemRow = $(`
                                                        <tr class="order-item">
                                                            <td><i class="icon-music"></i></td>
                                                            <td>${album.title}</td>
                                                            <td>${track.title}
                                                            </td>
                                                            <td>${track.artist}
                                                            </td>
                                                            <td>${moment.utc(track.length*1000).format('mm:ss')}
                                                            </td>
                                                            <td>$${track.price}
                                                            </td>
                                                            <td class="text-right refund">

                                                            </td>
                                                        </tr>

                                            `)

                                                orderRow.find('.order_item-table').append(orderItemRow);
                                                if(order.refund_ava == 0 && index === 0){
                                                    order.refund_ava = 1;
                                                }
                                                if (orderItem.refundable == 0 || orderItem.status != 0 || order.refund_ava ==  0) {
                                                    let refundStatus;

                                                    switch (orderItem.status) {
                                                        case 1:
                                                            refundStatus = $(
                                                                `<button class="btn btn-info btn-xs">Pending</button>`
                                                            );
                                                            break;
                                                        case 2:
                                                            refundStatus = $(
                                                                `<button class="btn btn-success btn-xs">Success</button>`
                                                                );
                                                            break;
                                                        case 3:
                                                            refundStatus = $(
                                                                `<button class="btn btn-danger btn-xs">Fail</button>`
                                                                );
                                                            break;
                                                    }
                                                    orderItemRow.find('.refund').append(refundStatus);
                                                } else {
                                                    let refundButton = $(
                                                        `<button class="btn btn-dark btn-xs">Refund</button>`
                                                    );

                                                    refundButton.on('click.refund', (
                                                        event) => {
                                                        axios.patch('/order', {
                                                            refund: true,
                                                            order_item_id: orderItem.id
                                                        }).then((res) => {
                                                            window.location.reload();
                                                        });
                                                    });
                                                    orderItemRow.find('.refund').append(refundButton);
                                                }
                                                index ++;
                                            }
                                        }
                                    }

                                    $('.display-container').append(orderRow);
                                }

                            });
                        }
                    </script>
                    <% } %>
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Album Area End ##### -->
    <% include ./app/footer.ejs %>
</body>

</html>
